<table class="table table-striped table-bordered table-hover datatable">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Description</th>
      <th width="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicines.each do |medicine| %>
      <tr>
        <td><%= medicine.name %></td>
        <td><%= medicine.description %></td>
        <td align="center">
          <%= render 'shared/btn_single', link_to: medicine %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'shared/datatable', name: t('drugstores') %> 