<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2><%= t(controller_name).titleize %></h2>
    <ol class="breadcrumb">
      <li class="active">
        <strong><%= t(action_name).titleize %></strong>
      </li>
    </ol>
  </div>
</div>
<br>
