<div class="row">
  <div class="col-lg-3 animated bounceIn">
    <%= link_to rails_admin_path do %>
      <div class="widget style1 yellow-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-lock fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span>Administração</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>