<div class="row">
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box active">
          <div class="product-imitation">
            <img width="150" src="http://www.nucleovagapara.com.br/wp-content/uploads/2018/02/jksajdkadjka.jpg">
          </div>
          <div class="product-desc">
            <span class="product-price">
                R$ 9,00
            </span>
            <small class="text-muted">Sesi Farmácia -</small>
            <small class="distance">500m</small>
            <a href="#" class="product-name">Domperidona</a>
            <div class="small m-t-xs">
              Descrição do medicamento...
            </div>
            <div class="m-t text-righ">
              <a class="btn btn-xs btn-outline btn-primary" href="/checkout/1">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box active">
          <div class="product-imitation">
          <img width="150" src="http://www.nucleovagapara.com.br/wp-content/uploads/2018/02/jksajdkadjka.jpg">
          </div>
          <div class="product-desc">
            <span class="product-price">
                R$ 8,50
            </span>
            <small class="text-muted">Farmacia Raia -</small>
            <small class="distance">1km</small>
            <a href="#" class="product-name">Domperidona</a>
            <div class="small m-t-xs">
              Descrição do medicamento...
            </div>
            <div class="m-t text-righ">
              <a class="btn btn-xs btn-outline btn-primary" href="/checkout/1">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box active">
          <div class="product-imitation">
          <img width="150" src="http://www.nucleovagapara.com.br/wp-content/uploads/2018/02/jksajdkadjka.jpg">
          </div>
          <div class="product-desc">
            <span class="product-price">
                R$ 8,00
            </span>
            <small class="text-muted">Drogaria Souza -</small>
            <small class="distance">4km</small>
            <a href="#" class="product-name">Medicamento 1</a>
            <div class="small m-t-xs">
              Descrição do medicamento...
            </div>
            <div class="m-t text-righ">
              <a class="btn btn-xs btn-outline btn-primary" href="/checkout/1">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>


<%= link_to 'Voltar', "/doctor_prescriptions/2" %>