<div class="ibox-content animated fadeInRightBig">
  <% @drugstore_medicines.each do |drugstore_medicine| %>
    <div class="col-lg-4">
      <div class="contact-box">
        <a class="row" href="profile.html">
          <div class="col-4">
            <div class="text-center">
              <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a2.jpg">
              <div class="m-t-xs font-bold">Graphics designer</div>
            </div>
          </div>
          <div class="col-8">
            <h3><strong><%= drugstore_medicine.medicine.name %></strong></h3>
            <h4><strong><%= drugstore_medicine.drugstore.name %></strong></h4>
            <address>
              <strong><%= drugstore_medicine.drugstore.cep %></strong><br>
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
              <abbr title="Phone">Telefone:</abbr> <%= drugstore_medicine.drugstore.phone %>
            </address>
          </div>
        </a>
      </div>
    </div>
  <% end %>
</div>
