<p>
  <strong>Medicine:</strong>
  <%= @drugstore_medicine.medicine.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @drugstore_medicine.price %>
</p>

<p>
  <strong>Promotion:</strong>
  <%= @drugstore_medicine.promotion_price %>
</p>

<%= link_to 'Back', '/' %>
