<h1>New Add Fields To Drugstore Medicine</h1>

<%= render 'form', add_fields_to_drugstore_medicine: @add_fields_to_drugstore_medicine %>

<%= link_to 'Back', add_fields_to_drugstore_medicines_path %>
