<br><br>
<div class="footer">
  <div class="pull-right">
    <!--Developed by <strong><a href="https://www.rafaelbmateus.com.br" target="_blank" style="color: #57b494">Rafael Mateus</a></strong>-->
  </div>
</div>
