<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown">
        <li>
          
        </li>
      </li>
    </ul>
  </nav>
</div>
